<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>

    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="http://unpkg.com/view-design/dist/styles/iview.css"
    />
    <script
      type="text/javascript"
      src="http://vuejs.org/js/vue.min.js"
    ></script>
    <script
      type="text/javascript"
      src="http://unpkg.com/view-design/dist/iview.min.js"
    ></script>
  </head>

  <body>
    <style>
      #app{
        width: 50rem;
        margin: 0 auto;
        text-align: center;
      }
      .first-section {
        padding-left: 10px;
      }
      li {
        list-style: none;
      }
      .title-h1{
        margin:10px auto;
      }
      .form-inline{
        margin:15px auto ;
      }
    </style>

    <div id="app">
      <h1 class="title-h1">nodejs + mysql + express + vue 实现增删改查功能</h1>
      
      <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
          <label class="sr-only">Name</label>
          <input type="text" class="form-control" placeholder="请输入姓名" v-model="searchName">
        </div>
        <button type="button" class="btn btn-primary mb-2"  @click="searchClick">查询</button> &nbsp;&nbsp;
        <button type="button" class="btn btn-primary mb-2" @click="addClick">增加</button>
      </form>
      <section class="first-section" >
        <table class="table table-bordered" style="width: 50rem" v-if="testList.length>0">
            <tr>
              <th>序号</th>
              <th>姓名</th>
              <th>年龄</th>
              <th>性别</th>
              <th>操作</th>
            </tr>
            <tr v-for="(item,index) in testList">
              <td>{{index}}</td>
              <td>{{item.name}}</td>
              <td>{{item.age}}</td>
              <td>{{item.sex}}</td>
              <td>
                <button type="button" class="btn btn-info"  @click="editClick(item)">修改</button>
                <button type="button" class="btn btn-danger" @click="deleteClick(item)">删除</button>
              </td>
            </tr>
        </table>
        <div v-else>
          <h5>暂无数据！</h5>
        </div>
      </section>

      <Modal v-model="modalShow" title="修改" 
        @on-ok="editSubmit">
        <form class="form-inline"><label >name: </label><input class="form-control" type="text"
            v-model="editParam.name"></input></form><br>
        <form class="form-inline"><label >age: </label><input class="form-control" type="text"
            v-model="editParam.age"></input></form><br>
        <form class="form-inline"><label >sex: </label><input class="form-control" type="text"
            v-model="editParam.sex"></input></form>
      </Modal> 
      <Modal v-model="addModalShow" title="新增" 
       @on-ok="addSubmit">
        <form class="form-inline"><label>name: </label><input class="form-control" type="text"
          v-model="addParam.name"></input></form><br>
        <form class="form-inline"><label >age: </label><input class="form-control"  type="text"
          v-model="addParam.age"></input></form><br>
        <form class="form-inline"><label>sex: </label><input class="form-control" type="text" 
        v-model="addParam.sex"></input></form>
      </Modal> 
    </div>

    <script>
      var app = new Vue({
        el: "#app",
        data() {
          return {
            testList: [],
            userMsg: {},
            modalShow: false,
            editParam:{},
            addModalShow:false,
            addParam:{},
            searchName:''
          };
        },
        computed: {},
        methods: {
          searchClick(){
            let vm= this;
            $.ajax({
              type: "post",
              data:{name:vm.searchName},
              url: "http://localhost:3001/search",
              success: function(res) {
                vm.testList=res;
              },
              error: function(err) {
                console.log(err);
              }
            });
          },
          deleteClick(item){
             let vm = this;
              $.ajax({
                  type: "post",
                  url: "http://localhost:3001/delete",
                  data: { id:item.id },
                  success: function (res) {
                    console.log(res);
                    vm.getDataList();
                  },
                  error: function (err) {
                      console.log(err);
                  }
              });
          },
          getDataList(){
            let vm = this;
            $.ajax({
              type: "get",
              url: "http://localhost:3001/getDataList",
              success: function(res) {
                console.log("获取数据接口",res);
                vm.testList = res.data;
              },
              error: function(err) {
                console.log(err);
              }
            });
          },
          addClick(){
            this.addModalShow = true;
          },
          addSubmit(){
            let vm= this;
            $.ajax({
              type: "post",
              data:vm.addParam,
              url: "http://localhost:3001/add",
              success: function(res) {
                vm.addModalShow = false;
                vm.getDataList();
                vm.addParam = {};
              },
              error: function(err) {
                console.log(err);
              }
            });
          },
          editClick(item){
            this.editParam  = item;
            this.modalShow = true;
          },
          editSubmit(){
            let vm = this;
            $.ajax({
              type: "post",
              data: vm.editParam,
              url: "http://localhost:3001/update",
              success: function(res) {
                vm.getDataList();
                vm.modalShow = false;
              },
              error: function(err) {
                console.log(err);
              }
            });
          }

        },

        mounted: function() {
          this.getDataList();
        }
      });
    </script>
  </body>
</html>
