<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>

    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <link
      href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="http://unpkg.com/view-design/dist/styles/iview.css"
    />
    <script
      type="text/javascript"
      src="http://vuejs.org/js/vue.min.js"
    ></script>
    <script
      type="text/javascript"
      src="http://unpkg.com/view-design/dist/iview.min.js"
    ></script>
  </head>

  <body>
    <style>
      .first-section {
        padding-left: 10px;
      }
      li {
        list-style: none;
      }
    </style>

    <div id="app">
      <input type="text" placeholder="请输入名字" v-model="searchName"><button type="button" @click="searchClick">查询</button>
      <section class="first-section">
        <ul v-for="item in testList">
          <li>name:{{item.name}}</li>
          <li>age:{{item.age}}</li>
          <li>sex:{{item.sex}}</li>
          <button type="button" class="btn btn-info" @click="editClick(item)">
            修改
          </button>
          <button type="button" class="btn btn-danger" @click="deleteClick(item)">删除</button>
        </ul>
        <ul>
          <br />
          <button type="button" class="btn btn-primary"  @click="addClick">增加</button>
        </ul>
      </section>
      <section>
        <li>userName: {{userMsg.name}}</li>
        <li>pwd: {{userMsg.pass}}</li>
      </section>

      <Modal v-model="modalShow" title="修改" 
        @on-ok="editSubmit">
        <span>name:</span><input type="text" v-model="editParam.name"></input><br>
        <span>age:</span><input  type="text" v-model="editParam.age"></input><br>
        <span>sex:</span><input  type="text" v-model="editParam.sex"></input>
      </Modal> 
      <Modal v-model="addModalShow" title="新增" 
       @on-ok="addSubmit">
        <!-- <span>id:</span><input  type="text" v-model="addParam.id"></input><br><br> -->
        <span>name:</span><input  type="text" v-model="addParam.name"></input ><br><br>
        <span>age:</span><input   type="text" v-model="addParam.age"></input ><br><br>
        <span>sex:</span><input   type="text" v-model="addParam.sex"></input >
      </Modal> 
    </div>

    <script>
      var app = new Vue({
        el: "#app",
        data() {
          return {
            testList: [],
            userMsg: {},
            modalShow: false,
            editParam:{},
            addModalShow:false,
            addParam:{},
            searchName:''
          };
        },
        computed: {},
        methods: {
          searchClick(){
            let vm= this;
            $.ajax({
              type: "post",
              data:{name:vm.searchName},
              url: "http://localhost:3001/search",
              success: function(res) {
                vm.testList=res;
              },
              error: function(err) {
                console.log(err);
              }
            });
          },
          deleteClick(item){
             let vm = this;
              $.ajax({
                  type: "post",
                  url: "http://localhost:3001/delete",
                  data: { id:item.id },
                  success: function (res) {
                    console.log(res);
                    vm.getDataList();
                  },
                  error: function (err) {
                      console.log(err);
                  }
              });
          },
          getDataList(){
            let vm = this;
            $.ajax({
              type: "get",
              url: "http://localhost:3001/getDataList",
              success: function(res) {
                console.log("获取数据接口",res);
                vm.testList = res.data;
              },
              error: function(err) {
                console.log(err);
              }
            });
          },
          addClick(){
            this.addModalShow = true;
          },
          addSubmit(){
            let vm= this;
            $.ajax({
              type: "post",
              data:vm.addParam,
              url: "http://localhost:3001/add",
              success: function(res) {
                vm.addModalShow = false;
                vm.getDataList();
              },
              error: function(err) {
                console.log(err);
              }
            });
          },
          editClick(item){
            this.editParam  = item;
            this.modalShow = true;
          },
          editSubmit(){
            let vm = this;
            $.ajax({
              type: "post",
              data: vm.editParam,
              url: "http://localhost:3001/update",
              success: function(res) {
                vm.getDataList();
                vm.modalShow = false;
              },
              error: function(err) {
                console.log(err);
              }
            });
          }

        },

        mounted: function() {
          this.getDataList();
        }
      });
    </script>
  </body>
</html>
